{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css_folder/main_container.css">
</head>
<body>
    <div class="Main">
        <div id="head_line">
            <p>christmas Rolling Paper</p>
        </div>
        <div id="mainpage">
            <img src="/static/images/christmas_tree.png" alt="none">
        </div>
        <div id="buttons">
            <div> 
                <button color="white">dkdkdkdkdkdk</button>
            </div>
            <div > 
                <button color="white">dkdkdkdkdkdk</button>
            </div>
        </div>
        
    </div>
</body>
</html>